{
  "env": {
    "es6": true,
    "browser": true,
    "node": true
  },
  "rules": {
    "no-debugger": 0,
    "arrow-parens": [
      "error",
      "always"
    ],
    "comma-dangle": [
      "error",
      "always-multiline"
    ],
    "semi": [
      "error",
      "never"
    ],
    "import/first": [
      0
    ],
    "import/prefer-default-export": 0,
    "max-len": [
      "error",
      {
        "code": 120
      }
    ],
    "no-alert": 0,
    "object-curly-newline": [
      "error",
      {
        "multiline": true,
        "consistent": true
      }
    ],
    "object-property-newline": [
      "error",
      {
        "allowAllPropertiesOnSameLine": true
      }
    ],
    "no-console": [
      "error",
      {
        "allow": [
          "warn",
          "error"
        ]
      }
    ],
    "no-new": 0,
    "no-underscore-dangle": "off",
    "react/no-multi-comp": "off",
    "react/jsx-uses-react": "off",
    "react/react-in-jsx-scope": "off",
    "react/jsx-wrap-multilines": [
      "error",
      {
        "declaration": "parens-new-line",
        "assignment": "parens-new-line",
        "return": "parens-new-line",
        "arrow": "parens-new-line",
        "condition": "ignore",
        "logical": "ignore",
        "prop": "ignore"
      }
    ],
    "react/jsx-indent": [
      "error",
      2,
      {
        "checkAttributes": true,
        "indentLogicalExpressions": true
      }
    ],
    "react/display-name": 0,
    "react/jsx-filename-extension": [
      1,
      {
        "extensions": [
          ".js",
          ".jsx"
        ]
      }
    ],
    "react/jsx-props-no-spreading": "off",
    "react/prop-types": [
      0
    ],
    "react/forbid-prop-types": [
      1,
      {
        "forbid": [
          "any",
          "array"
        ]
      }
    ],
    "jsx-a11y/alt-text": 0,
    "react-hooks/rules-of-hooks": "error",
    "react/state-in-constructor": "off",
    "jsx-a11y/label-has-associated-control": [
      2,
      {
        "controlComponents": [
          "InputComponent",
          "ReactSwitch",
          "StyledSwitch",
          "Checkbox"
        ],
        "assert": "either",
        "depth": 3
      }
    ],
    "jsx-a11y/label-has-for": 0
  },
  "parser": "@babel/eslint-parser",
  "parserOptions": {
    "requireConfigFile": false,
    "ecmaVersion": 6,
    "ecmaFeatures": {
      "jsx": true
    },
    "babelOptions": {
      "presets": [
        "@babel/preset-react"
      ]
    }
  },
  "plugins": [
    "react",
    "@babel",
    "import",
    "jsx-a11y",
    "react-hooks"
  ]
}
