<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>popote</title>
    <link rel="shortcut icon" type="image/x-icon" href="https://github.com/domidemps/popote/blob/master/src/images/popote_squared_logo.png?raw=true">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500" rel="stylesheet" />
  </head>
  <body>
    <div id="root"></div>
    <script src="./index.jsx"></script>
  </body>
</html>
