* {
  margin: 0;
  padding: 0;
}

html {
  font-family: 'Roboto', sans-serif;
  color: #282828;
  height: 100%;
  background-color: #eaf8bf;
}

html,
body {
  height: 100%;
  display: flex;
  flex-direction: column;
  font-size: 16px;
  overflow: hidden;
}
