<!DOCTYPE html>
<html
  lang="fr"
  style="font-family: 'Roboto', sans-serif; margin:0; padding:0; height: 100%; display: flex;
  flex-direction: column; font-size: 1em; overflow: hidden;"
>
  <meta charset="UTF-8" />
  <style type="text/css">
    * {
      margin: 0;
      padding: 0;
    }
    .light-yellow {
      background-color: #f3fbda;
    }
    .medium-yellow {
      background-color: #ebdfa5;
    }
    .dark-purple {
      background-color: #45062e;
    }
    .border-collapsed {
      border-collapse: collapse;
    }
    .purple-border {
      border-style: solid;
      border-color: #7f055f;
      background: #7f055f;
      display: inline-block;
      border-radius: 7px;
    }
    .dark-text {
      color: #45062e;
    }
    .text-size {
      font-size: 1.1rem;
      line-height: 1.6rem;
    }
    .button:hover {
      border-color: #aa0584;
      background: #aa0584;
    }
  </style>
  <head>
    <title>Popote - confirmation email</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500" rel="stylesheet" />
  </head>
  <body
    style="height: 100%; display: flex; flex-direction: column; font-size: 1em; overflow: hidden;"
  >
    <table style="width: 100%;" cellpadding="0" cellspacing="0">
      <colgroup>
        <col id="col-left" span="1" style="width: 25%;" />
        <col id="col-middle" span="1" style="width: 50%;" />
        <col id="col-right" span="1" style="width: 25%;" />
      </colgroup>
      <tr id="tr-logo" class="border-collapsed">
        <td id="td-logo-left" class="light-yellow"></td>
        <td id="td-logo-middle" class="light-yellow" align="center">
          <img
            src="https://raw.githubusercontent.com/domidemps/popote/master/src/images/popote_logo.png"
            alt="Popote"
            style="width: 300px; padding: 45px 20px 35px 20px;"
          />
        </td>
        <td id="td-logo-right" class="light-yellow"></td>
      </tr>
      <tr id="tr-welcome" class="border-collapsed light-yellow">
        <td id="td-welcome-left" class="light-yellow"></td>
        <td id="td-welcome-middle" class="medium-yellow" style="border-radius: 10px 10px 0 0;">
          <h1
            class="dark-text"
            style="font-size: 2.5rem; padding: 35px 30px 5px 30px; font-weight: normal; margin: 0;"
            align="center"
          >
            Bienvenue ! &#128075;&#127998;
          </h1>
        </td>
        <td id="td-welcome-right" class="light-yellow"></td>
      </tr>
      <tr id="tr-explanations" class="border-collapsed">
        <td id="td-explanations-left" class="dark-purple"></td>
        <td id="td-explanations-middle" class="medium-yellow" style="padding: 20px 30px;">
          <p style="margin: 0; padding-bottom: 15px;" class="text-size dark-text">
            Cuisinier du dimanche, pâtissière amatrice ou véritable cordon-bleu, c'est un plaisir de
            te compter parmi nos utilisateur·ice·s.
          </p>
          <p class="text-size dark-text" style="margin: 0;">
            Pour activer ton compte, clique sur le lien suivant :
          </p>
        </td>
        <td id="td-explanations-right" class="dark-purple"></td>
      </tr>
      <tr id="tr-button" class="border-collapsed">
        <td id="td-button-left" class="dark-purple"></td>
        <td
          id="td-button-middle"
          align="center"
          class="medium-yellow"
          style="padding: 15px 10px 15px 10px; margin: 0;"
        >
          <span class="purple-border" style="width: auto;">
            <a
              class="purple-border button"
              style="font-size: 1.2rem; color: #FFFFFF; border-width: 15px 30px; text-decoration: none;"
              target="_blank"
              href="{{ confirmation_url }}"
            >
              Confirmer l'inscription
            </a>
          </span>
        </td>
        <td id="td-button-right" class="dark-purple"></td>
      </tr>
      <tr id="tr-end" class="border-collapsed dark-purple">
        <td id="td-end-left" class="dark-purple"></td>
        <td
          id="td-end-middle"
          class="medium-yellow"
          style="padding: 20px 30px; border-radius: 0 0 10px 10px;"
        >
          <p id="p-link" class="text-size dark-text" style="padding-bottom: 15px;">
            Si cela ne fonctionne pas, copie-colle le lien suivant dans ton navigateur :
          </p>
          <a target="_blank" class="text-size" style="color: #7F055F;">
            {{ confirmation_url }}
          </a>
          <p id="p-signature" class="text-size dark-text" style="padding-top: 15px;">
            À tes fourneaux !
            <br />
            Lou-Yann et Domitille
          </p>
        </td>
        <td id="td-end-right" class="dark-purple"></td>
      </tr>
    </table>
  </body>
</html>
