* {
  margin: 0;
  padding: 0;
}

html {
  font-family: 'Roboto', sans-serif;
  color: #282828;
  height: 100%;
  background: linear-gradient(rgba(255, 180, 0, 0.6), rgba(69, 6, 46, 1));;
}

html,
body {
  height: 100%;
  display: flex;
  flex-direction: column;
  font-size: 1em;
  overflow: hidden;
}
